<?xml version="1.0"?>

<config>
    <modules>
        <Dh_ItemPosition>
            <version>1.0.0</version>
        </Dh_ItemPosition>
    </modules>
    <global>
        <blocks>
            <item_position>
                <class>Dh_ItemPosition_Block</class>
            </item_position>
            <page>
                <rewrite>
                    <html_head>Dh_ItemPosition_Block_Page_Html_Head</html_head>
                </rewrite>
            </page>
        </blocks>
    </global>
</config>